<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>This is Homepage</h1>
<p>This website allows you to find usages of English phrases on TED</p>
<form method="POST">
<p><input type="submit" name="create_database" value="Create database"></p>
</form>
<br>
<form method="POST">
<p><input type="submit" name="fill_database" value="Fill database with TED fragments"></p>
</form>
<br>
<form method="POST">
<p><input type="submit" name="search" value="Find some phrase"></p>
</form>
</body>
</html>
